@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bg-color: #fff;
  --line-color-1: #f1f1f1;
  --line-color-2: #f5f5f5;

  --bg-color-dark: #000;
  --line-color-dark-1: #050505;
  --line-color-dark-2: #010101;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@keyframes background {
  0%   {transform: scale(1); opacity: 0.3;}
  50%  {transform: scale(2.0); opacity:0.3;}
  100% {transform: scale(1); opacity: 0.3;}
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.graph-paper {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  background-image: linear-gradient(var(--line-color-1) 1.5px, transparent 0.5px), linear-gradient(90deg, var(--line-color-1) 1.5px, transparent 0.5px), linear-gradient(var(--line-color-2) 1px, transparent 1px), linear-gradient(90deg, var(--line-color-2) 1px, transparent 1px);
  background-position: -1.5px -1.5px, -1.5px -1.5px, -1px -1px, -1px -1px;
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  animation-name: background;
  animation-duration: 59s;
  animation-iteration-count: infinite;
  position: fixed;
  z-index: 1;
}


.cover-container {
  position: relative;
  z-index: 2;
  text-align: center;
}

main.profile {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Source Code Pro', monospace;
}

p.lead {
  padding-top: 40px;
  font-size: smaller;
  text-align: center;
}

footer {
  font-size: 22px;
  font-style: italic;
  font-family: 'Caveat', cursive;
}

img.full {
  width: 70%;
  margin-left: -30px;
}

a.linker:hover {
    font-weight: 500;
    color: #c64017;
    &:after,&:before{
      border :0px solid #c64017;
      transition:all 0.2s;
      }
    &:after{
      border-top:2px solid #c64017;
      border-left:2px solid #c64017;
    }
    &:before{
      border-bottom:2px solid #c64017;
      border-right:2px solid #c64017;
    }
  }


a.linker {
  color: #666;
  text-decoration: none;
  cursor:pointer;
  position:relative;
  padding:20px 20px;
  font-size:18px;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  transition:all 0.2s;
  &:after,&:before{
    content:" ";
    width:10px;
    height:10px;
    position:absolute;
    border :0px solid #fff;
    transition:all 0.2s;
    }
  &:after{
    top:5px;
    left:5px;
    border-top:2px solid #666;
    border-left:2px solid #666;
  }
  &:before{
    bottom:-1px;
    right:-1px;
    border-bottom:2px solid #666;
    border-right:2px solid #666;
  }
  &:hover{
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    // background:rgba(0,0,0,.5);
    // color:white;
    &:before,&:after{
      
      width:100%;
      height:100%;
      // border-color:white;
    }
  }
}

span.spacer {
  padding: 0 20px;
}

@media screen and (max-width: 780px) {
  p.lead {
    width:170%;
    margin-left: -60px;
  }

  img.full {
    width: 180%;
    left: -50px;
    position: relative;
  }

}

@media (prefers-color-scheme: dark) {
  @keyframes background {
    0%   {transform: scale(1); opacity: 0.9;}
    50%  {transform: scale(2.0); opacity:0.9;}
    100% {transform: scale(1); opacity: 0.9;}
  }

  .graph-paper {
    background-color: var(--bg-color-dark);
    background-image: linear-gradient(var(--line-color-dark-1) 1.1px, transparent 1.1px), linear-gradient(90deg, var(--line-color-dark-1) 1.1px, transparent 1.1px), linear-gradient(var(--line-color-dark-2) 1px, transparent 1px), linear-gradient(90deg, var(--line-color-dark-2) 1px, transparent 1px);
  }

  main, footer {
    color: #a5a5a5;
  }

  a.linker:hover {
    color: #ffae00;
    &:after,&:before{
      border :0px solid #ffae00;
      transition:all 0.2s;
      }
    &:after{
      border-top:2px solid #ffae00;
      border-left:2px solid #ffae00;
    }
    &:before{
      border-bottom:2px solid #ffae00;
      border-right:2px solid #ffae00;
    }
  }

  a.linker {
    color: #666;
    text-decoration: none;
    cursor:pointer;
    position:relative;
    padding:20px 20px;
    font-size:18px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    transition:all 0.2s;
    &:after,&:before{
      content:" ";
      width:10px;
      height:10px;
      position:absolute;
      border :0px solid #fff;
      transition:all 0.2s;
      }
    &:after{
      top:5px;
      left:5px;
      border-top:2px solid #666;
      border-left:2px solid #666;
    }
    &:before{
      bottom:-1px;
      right:-1px;
      border-bottom:2px solid #666;
      border-right:2px solid #666;
    }
    &:hover{
      border-top-right-radius:0px;
      border-bottom-left-radius:0px;
      // background:rgba(0,0,0,.5);
      // color:white;
      &:before,&:after{
        
        width:100%;
        height:100%;
        // border-color:white;
      }
    }
  }

}
